{% extends model('component') %}

{% define config = {
    name: 'company-representative-widget-tile',
} %}

{% define data = {
    title: null,
    icon: null,
    text: null,
} %}

{% block body %}
    {% if embed.companyRepresentativesUsers is not empty %}
        <h3 class="{{ config.name }}__title">Customer service representative</h3>
        <ul class="{{ config.name }}__list">
            {% for companyRepresentativeUser in embed.companyRepresentativesUsers %}
                <li class="{{ config.name }}__list-item">
                    <img class="{{ config.name }}__photo" src="https://fakeimg.pl/30x30/">
                    <div class="{{ config.name }}__name">{{ companyRepresentativeUser.firstName }} {{ companyRepresentativeUser.lastName }}</div>
                    <a href="mailto:{{ companyRepresentativeUser.username }}" class="{{ config.name }}__icon-link">
                        {% include atom('icon') with {
                            class: config.name ~ '__icon',
                            data: {
                                name: 'icon-email-2',
                            },
                        } only %}
                    </a>
                    <a href="#" class="{{ config.name }}__icon-link">
                        {% include atom('icon') with {
                            class: config.name ~ '__icon',
                            data: {
                                name: 'icon-phone-2',
                            },
                        } only %}
                    </a>
                    <a href="#" class="{{ config.name }}__icon-link">
                        {% include atom('icon') with {
                            class: config.name ~ '__icon',
                            data: {
                                name: 'icon-whatsup-2',
                            },
                        } only %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ 'company.account.customer.service.empty' | trans }}
    {% endif %}
{% endblock %}

