{% extends model('component') %}
{% import _self as  macros %}

{% define config = {
    name: 'company-representative-widget-tile',
} %}

{% define data = {
    title: null,
    icon: null,
    text: null,
    companyRepresentativesUsers: required,
} %}

{% macro iconLink(url, iconName ) %}
    <a target="_blank" href="{{ url }}" class="company-representative-widget-tile__icon-link">
        {% include atom('icon') with {
            class: 'company-representative-widget-tile__icon',
            data: {
                name: iconName,
            },
        } only %}
    </a>
{% endmacro %}

{% block body %}
    <h3 class="{{ config.name }}__title">{{ 'customer.overview.customer.service.representative.title' | trans }}</h3>

    {% if data.companyRepresentativesUsers is not empty %}
        <ul class="{{ config.name }}__list">
            {% for companyRepresentativeUser in data.companyRepresentativesUsers %}
                <li class="{{ config.name }}__list-item">
                    {% if companyRepresentativeUser.photo %}
                        <img class="{{ config.name }}__photo" src="{{ companyRepresentativeUser.photo }}">
                    {% endif %}
                    <div class="{{ config.name }}__name">{{ companyRepresentativeUser.firstName }} {{ companyRepresentativeUser.lastName }}</div>

                    {{ macros.iconLink('mailto:' ~ companyRepresentativeUser.username, 'icon-email-2') }}

                    {% if companyRepresentativeUser.phone %}
                        {{ macros.iconLink('tel:' ~ companyRepresentativeUser.phone, 'icon-phone-2') }}
                        {{ macros.iconLink('https://wa.me/' ~ companyRepresentativeUser.phone, 'icon-whatsup-2') }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ 'company.account.customer.service.empty' | trans }}
    {% endif %}
{% endblock %}

